.bg-main {
    background-color: #F1F0E8;
}
.bg-card {
    background-color: #B3C8CF;
}
.App {
    background-color: #F1F0E8;
}
.info-input {
    background-color: #EEE0C9;
    border: 2px solid #EEE0C9;
    border-radius: 5px;
    outline: none;
    margin-bottom: 16px;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.info-format {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 500;
    margin-bottom: 8px;
}